.container {
    margin: 20px auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 300px;
    width: 70%;
    border: 2px solid #f5434f;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #121212;
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0px 0px 30px 1px #f5434f;
    transform: scale(1.02);
}

.aboutme-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #f5434f;
}

.aboutme-text {
    flex: 1;
    text-align: left;
}

.aboutme-text h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: #f5434f; /* Título com a cor padrão */
}

.aboutme-text p {
    margin: 0;
    font-size: 1rem;
    color: #d1d1d1; /* Texto com um tom claro para contraste */
}